.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #f2f2f2;
}

h1,
h2,
p {
    margin: 2em 0;
    text-align: center;
}

h1 {
    font: 3em sans-serif;
}
h2{
    font: 1.5em sans-serif;
}
p{
    font: 1.3em sans-serif;
}
a {
    text-decoration: none;
    color: blue;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

li {
    margin: 10px;
}